body{
  background-image: url("https://pogomonster.files.wordpress.com/2013/02/videogames1-750x712.jpg");
background-attachment: fixed;
}


.bg-green{
  background-color: lightgreen;
}

.col-md-3{
  font-size: 50px;
  color: red;
}
.navbar-brand{
  color: blue;
}
